@font-face {
    font-family: SweiGothicCJKtc-Regular;
    src: url(https://cdn.jsdelivr.net/gh/max32002/swei-gothic@2.129/WebFont/CJK%20TC/SweiGothicCJKtc-Regular.woff2) format("woff2")
    , url(https://cdn.jsdelivr.net/gh/max32002/swei-gothic@2.129/WebFont/CJK%20TC/SweiGothicCJKtc-Regular.woff) format("woff");
  }
@import 'material-icons/iconfont/material-icons.css';
:root {
    --black: #000;
    --white: #fff;
    --gray0: #FAFAFA;
    --gray1: #ECECEC;
    --gray2: #B6B6B6;
    --gray3: #7F7A7A;
    --gray4: #212121;
    --adminDefault:#44aae9;
    --adminDefaultDark:#258BC9;
    --adminDelete:#e04c10;
    --adminDeleteDark:#D2501B;
    --adminSuccess:#47b966;
    --adminSuccessDark:#25A247;
    --primaryDefault: #E69270;
    --primaryLight:#F4D4C9;
    --primaryDark:#A44119;
    --primaryPestel:#F7EEE9;
    --secondaryDefault:#fce37d;
    --secondaryLight:#fbfa90;
    --secondaryDark:#423A2F;
    --accessoryRed:#A44119;
    --accessoryBlue:#7682BD;
    --accessoryWhite:#EDEDE6;

}

:root,[data-bs-theme=light] {
    --bs-primary-rgb: 230, 146, 112;
    --bs-success-rgb: 71, 185, 102;
    --bs-info-rgb: 68, 170, 233;
    --bs-danger-rgb: 224, 76, 16;
}
  html, body{height: 100%;}
  body { 
    width: 100%;
    position: relative;
    background: var(--white);
    font-size: 1em;
    color:var(--secondaryDark);
    padding:0;
    margin:0;
    font-family: 'SweiGothicCJKtc-Regular', Arial, Helvetica, sans-serif;
    word-break: break-all;
  }
  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  ::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: var(--gray1);
  }
  ::-webkit-scrollbar-track-piece {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: var(--white);
  }
  ul,li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  a, a:hover {
    display: inline-block;
    color: var(--gray1);
    transition-duration: 0.3s;
    text-decoration: none;
    outline: none;
  }
    a:hover { color: #c0bcbc;}
  
  .h1 {
    font-weight: bold;
    font-size: 2.25rem;
    line-height: 140%;
    letter-spacing: 1px;
  }
  .h2 {
    font-weight: bold;
    font-size: 2rem;
    line-height: 140%;
    letter-spacing: 1px;
  }
  .h3 {
    font-weight: bold;
    font-size: 1.75rem;
    line-height: 140%;
    letter-spacing: 1px;
  }
  .h4 {
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 140%;
    letter-spacing: 1px;
  }
  .h5 {
    font-weight: bold;
    font-size: 1.25rem;
    line-height: 140%;
    letter-spacing: 1px;
  }
  .h6 {
    font-weight: bold;
    font-size: 1rem;
    line-height: 140%;
    letter-spacing: 1px;
  }
  p.p {
    font-size: 0.93rem;
    line-height: 160%;
    letter-spacing: 1px;
    color: var(--gray3);
    word-break: break-all;
  }
  
  ::placeholder { color: var(--gray2); }
  ::-webkit-input-placeholder { color: var(--gray2); }
  ::-moz-placeholder { color: var(--gray2); opacity: 1; }
  
  
  input.input {
    position: relative;
    display: block;
    width: 100%;
    border-radius: 8px;
    padding: 8px 24px;
    border: 1px solid var(--gray2);
    background: var(--gray0);
    letter-spacing: 0.15px;
    outline: none;
    color: var(--secondaryDark);
  }
  
  textarea.textarea {
    position: relative;
    display: block;
    width: 100%;
    border-radius: 8px;
    padding: 12px;
    border: 0;
    border: 1px solid var(--gray2);
    background: var(--gray0);
    line-height: 21px; /* 140% */
    letter-spacing: 0.15px;
    outline: none;
    color: var(--secondaryDark);
  }


.btn {
    display: inline-block;
    border-radius: 100px;
    padding:8px 24px;
}
.btn-primary {
    --bs-btn-color: var(--white);
    --bs-btn-bg: var(--primaryDefault);
    --bs-btn-border-color: var(--primaryDefault);
    --bs-btn-hover-color: var(--white);
    --bs-btn-hover-bg: var(--primaryDark);
    --bs-btn-hover-border-color: var(--primaryDark);
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: var(--white);
    --bs-btn-active-bg: var(--primaryDark);
    --bs-btn-active-border-color: var(--primaryDark);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--white);
    --bs-btn-disabled-bg:var(--gray2);
    --bs-btn-disabled-border-color: var(--gray2);
}
.btn-primary-outline {
  --bs-btn-color: var(--primaryDefault);
  --bs-btn-bg: var(--white);
  --bs-btn-border-color: var(--primaryDefault);
  --bs-btn-hover-color: var(--white);
  --bs-btn-hover-bg: var(--primaryDefault);
  --bs-btn-hover-border-color: var(--primaryDefault);
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: var(--white);
  --bs-btn-active-bg: var(--primaryDark);
  --bs-btn-active-border-color: var(--primaryDark);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--white);
  --bs-btn-disabled-bg:var(--gray2);
  --bs-btn-disabled-border-color: var(--gray2);
}
.btn-edit {
  --bs-btn-color: var(--white);
  --bs-btn-bg: var(--adminDefault);
  --bs-btn-border-color: var(--adminDefault);
  --bs-btn-hover-color: var(--white);
  --bs-btn-hover-bg: var(--adminDefaultDark);
  --bs-btn-hover-border-color: var(--adminDefaultDark);
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: var(--white);
  --bs-btn-active-bg: var(--adminDefaultDark);
  --bs-btn-active-border-color: var(--adminDefaultDark);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--white);
  --bs-btn-disabled-bg:var(--gray2);
  --bs-btn-disabled-border-color: var(--gray2);
}
.btn-edit-outline {
  --bs-btn-color: var(--adminDefault);
  --bs-btn-bg: var(--white);
  --bs-btn-border-color: var(--adminDefault);
  --bs-btn-hover-color: var(--white);
  --bs-btn-hover-bg: var(--adminDefault);
  --bs-btn-hover-border-color: var(--adminDefault);
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: var(--white);
  --bs-btn-active-bg: var(--adminDefault);
  --bs-btn-active-border-color: var(--adminDefault);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--white);
  --bs-btn-disabled-bg:var(--gray2);
  --bs-btn-disabled-border-color: var(--gray2);
}
.btn-success {
  --bs-btn-color: var(--white);
  --bs-btn-bg: var(--adminSuccess);
  --bs-btn-border-color: var(--adminSuccess);
  --bs-btn-hover-color: var(--white);
  --bs-btn-hover-bg: var(--adminSuccessDark);
  --bs-btn-hover-border-color: var(--adminSuccessDark);
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: var(--white);
  --bs-btn-active-bg: var(--adminSuccessDark);
  --bs-btn-active-border-color: var(--adminSuccessDark);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--white);
  --bs-btn-disabled-bg:var(--gray2);
  --bs-btn-disabled-border-color: var(--gray2);
}
.btn-success-outline {
  --bs-btn-color: var(--adminSuccess);
  --bs-btn-bg: var(--white);
  --bs-btn-border-color: var(--adminSuccess);
  --bs-btn-hover-color: var(--white);
  --bs-btn-hover-bg: var(--adminSuccessDark);
  --bs-btn-hover-border-color: var(--adminSuccessDark);
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: var(--white);
  --bs-btn-active-bg: var(--adminSuccessDark);
  --bs-btn-active-border-color: var(--adminSuccessDark);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--white);
  --bs-btn-disabled-bg:var(--gray2);
  --bs-btn-disabled-border-color: var(--gray2);
}
.btn-delete {
  --bs-btn-color: var(--white);
  --bs-btn-bg: var(--adminDelete);
  --bs-btn-border-color: var(--adminDelete);
  --bs-btn-hover-color: var(--white);
  --bs-btn-hover-bg: var(--adminDeleteDark);
  --bs-btn-hover-border-color: var(--adminDeleteDark);
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: var(--white);
  --bs-btn-active-bg: var(--adminDeleteDark);
  --bs-btn-active-border-color: var(--adminDeleteDark);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--white);
  --bs-btn-disabled-bg:var(--gray2);
  --bs-btn-disabled-border-color: var(--gray2);
}
.btn-delete-outline {
  --bs-btn-color: var(--adminDelete);
  --bs-btn-bg: var(--white);
  --bs-btn-border-color: var(--adminDelete);
  --bs-btn-hover-color: var(--white);
  --bs-btn-hover-bg: var(--adminDeleteDark);
  --bs-btn-hover-border-color: var(--adminDeleteDark);
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: var(--white);
  --bs-btn-active-bg: var(--adminDeleteDark);
  --bs-btn-active-border-color: var(--adminDeleteDark);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--white);
  --bs-btn-disabled-bg:var(--gray2);
  --bs-btn-disabled-border-color: var(--gray2);
}

/*- pagination -*/
.pagination {
  --bs-pagination-font-size: 1rem;
  --bs-pagination-color: var(--secondaryDark);
  --bs-pagination-bg: var(--gray0);
  --bs-pagination-hover-color: var(--gray0);
  --bs-pagination-hover-bg: var(--secondaryDark);
  --bs-pagination-focus-color: var(--gray0);
  --bs-pagination-focus-bg: var(--secondaryDark);
  --bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
  --bs-pagination-active-color: var(--gray0);
  --bs-pagination-active-bg: var(--secondaryDark);
  --bs-pagination-disabled-color: var(--gray2);
  --bs-pagination-disabled-bg: var(--white);
}
.pagination a.page-link {
  outline:none;
  box-shadow: none;
}
/*-tab-*/
ul.nav.nav-pills button.nav-link {
  background-color: var(--gray1);
  color:var(--gray4);
  margin-right: 16px;
}
ul.nav.nav-pills button.nav-link:hover,
ul.nav.nav-pills button.nav-link.active {
  background-color: var(--primaryPestel);
  color:var(--primaryDefault);
}

header.header {
    background-color: var(--primaryPestel);
}
.contentAll {
    background-image: url(img/Wave-top.svg);
    background-position: top left;
    background-size: contain;
    background-repeat: no-repeat;
}
.contentBox {
  background: var(--white);
  border-radius: 8px;
  box-shadow: 2px 2px 12px 0px rgba(0, 0, 0, 0.1);
  padding: 36px 24px;
  line-height: 180%;
}

/*---------ADMIN LOGIN---------------*/

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top:80px;
    // background-image: url(img/loginCover.jpg) ;
    // background-size: cover;
    // background-position: center right;
    // height:100vh;
}
    .loginForm {
        width: 250px;
    }
// .AdminLogo {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     height:100vh;
// }
.images {
    height:150px;
    width:150px;
    border-radius: 8px;
}
.object-fit {
    object-fit:cover;
}
.productTable tbody tr:hover td {
  transition-duration: 0.3s;
  background-color: var(--gray1);
}

/*-- front page--*/
/*--product page--*/
.colorSquare {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  margin: 0 auto 4px;
}
.checkedStyle .form-check-input,
.checkedStyle .form-check-label {
  cursor: pointer;
  outline:none;
  box-shadow: none;
}
.checkedStyle .form-check-input:checked[type=radio] {
  display: block !important;
  position: absolute;
  margin-left: 13px;
  margin-top:0;
  --bs-form-check-bg-image:none;
  border:0;
  background: none;
  outline:none;
}
.checkedStyle .form-check-input:checked[type=radio]::before {
  content: "check"; /* 指定 Material Icon 的名稱 */
  font-family: "Material Icons";
  font-size: 16px;
  display: inline-block;
  color: #fff;
}
.specTable th{
  border:1px solid var(--gray2);
  color:var(--gray4);
  text-align: center;
}
.specTable td {
  border:1px solid var(--gray2);
  color:var(--secondaryDark);
}